.view-post {
  padding: 50px 5%;
  .banner {
    width: 50%;
    border-radius: 10px;
  }
  .post-title {
    font-size: 45px;
    margin: 10px 0 15px 0;
    background-color: #2942ed;
    color: white;
    width: 50%;
    padding: 10px;
  }
  .post-desc {
    margin-bottom: 20px;
    background-color: #2942ed;
    color: white;
    padding: 20px;
    border: none;
    width: 50%;
    display: block;
    font-size: 20px;
  }
  .attachment {
    width: 25%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 1235px) {
  .banner {
    display: block;
    margin: 0 auto 40px auto;
  }
  .attachment {
    width: 50% !important;
    display: block;
    margin: 0 auto 40px auto;
  }
  .post-desc {
    width: 100% !important;
  }
  .post-title {
    text-align: center;
    width: 100% !important;
  }
}
